[Unit]
Description=Simple Alert Proxy
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=simple-alert-proxy
Image=localhost/simple-alert-proxy:latest
PublishPort=8443:8443
Volume=/etc/simple-alert-proxy/config.yaml:/etc/simple-alert-proxy/config.yaml:ro,Z
Volume=${SIMPLE_ALERT_PROXY_TLS_CERT_FILE}:/run/simple-alert-proxy/tls/tls.crt:ro,Z
Volume=${SIMPLE_ALERT_PROXY_TLS_KEY_FILE}:/run/simple-alert-proxy/tls/tls.key:ro,Z

[Service]
EnvironmentFile=/etc/defaults/simple-alert-proxy
Restart=on-failure
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
